PyQt6==6.5.2          # La versión específica puede cambiar; asegúrate de usar la más reciente estable
requests==2.31.0      # Biblioteca para manejar solicitudes HTTP
pydantic==2.1.1       # Biblioteca para la validación y serialización de datos (JSON a objetos Python)
